@font-face {
  font-family: 'Pokemon Fire Red';   /*Can be any text*/
  src: url("./fonts/pokemon_fire_red.ttf") format("truetype");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-text {
  font-family: 'Pokemon Fire Red',  Roboto;
}

.linknav {
  color: white;
  text-decoration: none;
}
.logus {
  color: blue;
  text-decoration: none;
}

.login-screen {
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.error {
  color: red;
  font-weight: 700;
  font-size: 16px;
}